<template>
  <div id="app">
    <!-- <img src="https://code.visualstudio.com/assets/docs/nodejs/vuejs/welcome-to-vue.png" v-preload="'https://code.visualstudio.com/assets/docs/nodejs/vuejs/welcome-to-vue.png'"/> -->
    <default-values>
    <form-filter ref="form" class="myForm" :style="{maxHeight:currHeight+'px'}">
      <span>Полей изменено: {{changes}}</span>
      <div class="control">
      <button class="clear" v-if="changes > 0" @click="vision">Очистить фильтры</button>
      <button class="clear" @click="wider">Ещё фильтры</button>
      </div>
      <input-name class="infos"/>
      <input-sur-name  class="infos"/>
      <input-nullify1  class="infos"/>
      <input-nullify2  class="infos"/>
      <input-nullify3  class="infos"/>
      <input class="infos"/>
      <input class="infos"/>
      <input class="infos"/>
    </form-filter>
    </default-values>
  </div>
</template>

<script>
import Vue from 'vue'
import Preloadimg from './components/directives/preloadimg.js'
Vue.directive('preload', Preloadimg)
import DefaultValues from './components/DefaultValues'
import FormFilter from './components/FormFilter'
import InputName from './components/InputName'
import InputSurName from './components/inputSurname'
import InputNullify1 from './components/InputNullify1'
import InputNullify2 from './components/InputNullify2'
import InputNullify3 from './components/InputNullify3'

const DefaultData = {
  name:'Алексей',
  surname:'Лим',
  nullify_1:'',
  nullify_2:'',
  nullify_3:'',
}

export default {
  name: 'App',
  components: {
    FormFilter, InputName, DefaultValues, InputSurName, InputNullify1,
    InputNullify2,InputNullify3
  },
  data(){
    return{
      banzai:null,
      myData:{},
      changes:0,
      currHeight:null
    }
  },
  watch:{ 
    'myData.info':{
      handler(val){
        let missArr = []
        let defArr = []
        for (var key in val) {  
             defArr.push(DefaultData[key])
             if (val[key] !== DefaultData[key]){
               missArr.push(val[key])
             }
        }
        console.log(missArr);
        console.log(defArr)
        this.changes = missArr.length
      },
      deep:true
    }
  },
  methods:{
      vision(){
        for (var key in this.myData.info){
          this.myData.info[key] = DefaultData[key]
        }
      },
      changing(){
         this.$set(this.myData, 'info', DefaultValues.provide.filter)
      },
      wider() {

            this.$nextTick()
                .then((vm) => {
                  console.log(vm.currHeight = vm.$refs['form'])
                  vm.currHeight = vm.$refs['form'].$el.getBoundingClientRect().height
                  if (vm.currHeight == 500){
                  vm.currHeight = vm.$refs['form'].$el.getBoundingClientRect().height - 175
                  } else if (vm.currHeight == 325){
                    vm.currHeight = vm.$refs['form'].$el.getBoundingClientRect().height + 175
                  }
                })
        },
  },
  created(){
    this.changing()
  }
}
</script>

<style lang="sass">
  @import '~bootstrap/scss/bootstrap.scss'
  .myForm
    width: 500px
    height: 500px
    display: flex
    flex-direction: column
    overflow: hidden
  .infos 
    width: 100%
    height: 50px
    margin-bottom: 25px
  .clear
    width: 100px
    height: 50px

  .control
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 400px
    height: 60px
    
</style>
