<template>
    <button :data-test="dataAttr" @click="clickEvent($event)" :type="type">{{label}}</button>
</template>
<script>
import mixinsForButton from "@/mixinsForButton.js"
export default {
    name:'ButtonsForMixin',
    mixins:[mixinsForButton],
    props:{
      dataAttr:{
          type:String,

      }  
    },
    methods:{
        clickEvent(event){
            console.log('Btn component');
            this.handler(event, () => {console.log(event)})
        }
    }
}
</script>