<template>
  <c-section title-tag="h1" title-text="Directives & Animation">
    <tool-tip></tool-tip>
    <br><br><br>
    <after-loop></after-loop>
  </c-section>

</template>

<script>
  import ToolTip from './directives/ToolTip'
  import AfterLoop from './directives/AfterLoop'
  import CSection from "./CSection/CSection";

  export default {
    name: "Directives",

    /* Пользовательские директивы */
    directives: {


      directiveName: {/* может быть методом, автоматически навешивается на два хука: bind и update */
        /* вне зависимости от испоьзования принимают все два параметра
        * el - элемент к которому привязана директива
        * binding - обьект с кучей свойств (подробно - https://ru.vuejs.org/v2/guide/custom-directive.html)
        *  */
        /* хуки жизненного цикла */
        bind() {}, /*вызывается однократно, при первичном связывании директивы с элементом. Здесь можно поместить код инициализации*/
        inserted(el) { /*вызывается после вставки связанного элемента внутрь элемента родителя (заметьте, что сам родитель может на этот момент и не принадлежать ещё основному дереву элементов).*/

        },
        update() {},/*вызывается после обновления VNode компонента-контейнера, но, возможно, до обновления дочерних элементов. Значение директивы к этому моменту может измениться, а может и нет. Сравнивая текущее и прошлое значения, вы можете избежать избыточных операций*/
        componentUpdated() {},/*вызывается после обновления как VNode компонента-контейнера, так и VNode его потомков.*/
        unbind() {}/*вызывается однократно, при отвязывании директивы от элемента*/
      }
    },

    components: {
      CSection,
      AfterLoop, ToolTip
    }
  }
</script>

<style lang="sass">

</style>