<template>
    <ul>
        <li v-for="(item,i) in MyArr" :key="item" v-afterloop="{i, length:MyArr.length, met }">{{item}}</li>
    </ul>
</template>
<script>
// import AfterLoop from '~/components/directives/afterloop.js'
export default {
    name:'MyComponent',
    // directives: {
    //     afterloop
    // },
    data(){
        return {
            MyArr:['sad','happy','chill'],
        }
    },
    methods :{
        met(){
            console.log('rofl');
        }
    }
}
</script>
<style lang="sass">

</style>