<template>
  <div id="app">
    <build></build>
     <bananas></bananas>
     <my-slider :sliderData="MyImgs"></my-slider>
    <directive></directive>
    <mxn @myMet="someMet" label="Button" :data-attr="'Word'"></mxn>
  </div>
</template>

<script>
import bananas from './components/bananas'
import MySlider from './components/MySlider'
import Directive from './components/Directive'
import Mixins from './components/ButtonForMixin'
import MixinsForButton from '@/assets/mixins/mixinsForButton.js'
import ClassBuilder from './components/classBuilder'
export default {
  name: 'App',
  components: {
    bananas,
    MySlider,
    Directive,
    'mxn':Mixins,
    'build':ClassBuilder
  },
  data(){
    return {
      MyImgs: [
        "https://st.depositphotos.com/1919353/1769/i/450/depositphotos_17699915-stock-photo-cat-looking-out-of-the.jpg",
        "https://static9.depositphotos.com/1594920/1088/i/450/depositphotos_10888323-stock-photo-british-shorthair-cat-7-months.jpg",
        "https://static5.depositphotos.com/1001951/531/i/450/depositphotos_5310616-stock-photo-flying-funny-kitten.jpg",
      ],
    }
  },
  methods:{
    someMet(){
      console.log('root component')
    }
  }
}
</script>

<style lang="sass">
@import "~bootstrap/scss/bootstrap"

</style>
