<template>
    <form action="#">
        <slot></slot>
    </form>
</template>
<script>
export default {
    name:"FormFilter",
    inject: {
        filter:{
            default:{}
        }
    }
}
</script>