<template>
    <input type="text" v-model.lazy="filter.nullify_1">
</template>
<script>
export default {
    name:"InputNullify1",
    inject:{
        filter:{
            default:{}
        }
    },
}
</script>