<template>
    <input type="text" v-model.lazy="filter.surname">
</template>
<script>
export default {
    name:"InputName",
    inject:{
        filter:{
            default:{}
        }
    },
}
</script>