<template>
    <input type="text"  v-model.lazy="filter.name">
</template>
<script>
export default {
    name:"InputName",
    inject:{
        filter:{
            default:{}
        }
    },
}
</script>