<template>
    <input type="text" v-model.lazy="filter.nullify_3">
</template>
<script>
export default {
    name:"InputNullify3",
    inject:{
        filter:{
            default:{}
        }
    },
}
</script>