<template>

</template>
<script>
import preloadimg from '@directives/preloadimg.js'
export default {
    name:'LoadImg',
    directives:{
        preloadimg
    }
}
</script>
<style lang="sass">

</style>