<template>
  <div id="app">
    <div id="nav">
      <router-view name="mainpage"/>
    </div>
  </div>
</template>
<script>
export default {
  beforeRouteEnter(to ,from, next){
          next(vm => vm.dataFetch())
       },
       data(){
         return {
           banzai:'CallOfDuty'
         }
       },
       watch:{
         'banzai':'dataFetch'
       },
       methods:{
         dataFetch (){
        fetch("https://rawg-video-games-database.p.rapidapi.com/games?page=2", {
	"method": "GET",
	"headers": {
		"x-rapidapi-host": "rawg-video-games-database.p.rapidapi.com",
		"x-rapidapi-key": "160d7e77cemshe96a4528fb59fd9p103399jsnaaf023e18593"
	}
})
.then(response => {
	return response.json();
})
.catch(err => {
	console.log(err);
});
  } 
  },
  beforeMount(){
    this.dataFetch()
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
