<template>
  <div class="about">
    <h1><a href="https://router.vuejs.org/ru/guide/">Vue-router это...</a></h1>
    <p>Создавать одностраничные приложения (SPA) используя Vue + Vue Router очень просто. С помощью Vue.js, мы уже компонуем своё приложение из компонентов. Добавляя Vue Router, мы просто сопоставляем наши компоненты с маршрутами и объясняем Vue Router где их отображать.</p>
  </div>
</template>
