<template>
  <div id="router">

    <div class="c-nav">

      <router-link to="/r-home">Home-page</router-link> |
      <router-link to="/r-about">About</router-link> |
      <router-link to="/r-hooks">Router navigation hooks</router-link>

    </div>

  </div>

</template>

<script>
  export default {
    name: "Nav"
  }
</script>

<style lang="sass">

</style>