<template>
  <div id="app">
<!--
  - подключение кастомных директив (локально и глобально)
  - компоненты высшего порядка (HOC - Higher Order Component)
  - Vue.set() - добавление реактивных свойств, watch - расширенные возможности
  - $nextTick - своего рода setTimeout в Vue. Возвращает промис
  - Raw текст + фильтр
  - глобальные sass переменные (vue-cli)
  -->

<!--   подключение кастомных директив (локально и глобально)  -->

    <btn> Тест кастомная директивы - Ripple </btn>
    <br>
    <br>

<!--   компоненты высшего порядка (HOC - Higher Order Component)  -->

    <r-btn ripple-color="rgba(255, 255, 255, 0.5)">HOC functional</r-btn>
    <br>
    <br>

    <c-btn>HOC object</c-btn>
    <br><br><br>

<!-- hoc - при использовании такого метода есть правило, как при создании компонента, должен быть рут элемент(тег\компонент) -->
    <default-theme>
      <c-form>
          <c-input></c-input>
          <btn-form></btn-form>
      </c-form>
    </default-theme>
    <br><br><br>

<!-- Vue.set() - добавление реактивных свойств, watch - расширенные возможности -->

    <btn class="mr-3" @click.native="addUser">Add User</btn>
    <btn @click.native="changeUser">Add thumb to User</btn>
    <div v-if="isUser && userThumb">
        <img :src="userThumb" width="100px" alt="">
    </div>
    <br><br><br>

<!--   $nextTick - своего рода setTimeout в Vue. Возвращает промис    -->
      <btn @click.native="addText">On text</btn>
      <default-theme>
          <text-wrap ref="text" @click.native="isTextOpen = true" :style="{height: isTextOpen ? 'auto' : textHeight+'px', overflow: 'hidden'}">
                {{ text }}
          </text-wrap>
      </default-theme>

<!--  Raw текст + фильтр  -->

      <div :inner-html.prop="dateNow | normalizeDate"></div>


  </div>

<!--

 -->
</template>

<script>
  // Глобальное подключение директивы
  import Vue from 'vue'
  import Ripple from 'vue-ripple-directive'
  Vue.directive('ripple', Ripple)

  // --- HOC
  import Btn from "./components/Btn";

  import { BtnRipple } from './components/hoc/BtnRipple'
  const RBtn = BtnRipple(Btn)

  import { BtnCounter } from './components/hoc/BtnCounter'


  import DefaultTheme from './components/hoc/DefaultTheme'
  import RedTheme from './components/hoc/RedTheme'
  import CForm from './components/CForm'
  import CInput from './components/CInput'
  import BtnForm from './components/BtnForm'
  const TextWrap = () => import('./components/TextWrap')
  // import TextWrap from './components/TextWrap'

  const dataForWatch = {
      user: {
          name: 'Luis',
          age: 20,
          gender: 'male',
          photos: {
              single: {
                  full: '',
              },
              all: []
          }
      }
  }
  const userThumb = 'https://tmssl.akamaized.net/images/portrait/originals/512385-1554733179.jpg'

  const text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.A ad atque, consequatur dolorem doloremque enim id, ipsa ipsum magnam modi mollitia obcaecati officiaomnis quia quis rerum sunt, vero voluptatum?Eius, molestias veniam. Alias aut eaque maiores quia. Animi aperiam asperiores aut cupiditate dolores, eius est ex exercitationem id minima molestias nam nisi optio quidem reprehenderit sapiente suscipit ullam veniam.Accusantium laborum nesciunt reiciendis. Animi architecto asperiores atque corporis culpa delectusdolores, ex explicabo fuga laborum non nostrum nulla perspiciatis possimus praesentium provident quaerat, quia rem repudiandae sunt veniam voluptatum.Accusamus facilis fugiat nam rem repudiandae. Ad animi ea, eius minima modi nemo nulla perferendisplaceat possimus qui sint sit ullam! Asperiores distinctio magnam maxime minima necessitatibus praesentium, quia ullam? Ab at atque consequatur culpa debitis distinctio dolorem error excepturi exercitationem explicaboimpedit iste nostrum odit placeat, quas reiciendis rem temporibus voluptatibus. Magnam molestiae nobis quibusdam. Cupiditate impedit numquam placeat.'

export default {
    name: 'App',
    components: {TextWrap, BtnForm, CInput, CForm, DefaultTheme, RedTheme, Btn, RBtn, CBtn: BtnCounter(BtnRipple(Btn))},
    data() {
        return {
            isUser: false,
            user: null,
            test: null,
            userThumb: null,
            textHeight: null,
            text: null,
            isTextOpen: false,
            dateNow: new Date
        }
    },

    watch: {
        'user.photos': {
            handler(nVal) {
                debugger
                if(!nVal.single.thumb) return
                this.userThumb = nVal.single.thumb
            },
            // deep - для отслеживания вложенных свойств
            deep: true,
            // immediate: true - метод наблюдение срабатывает сразу при запуске приложения
        }
    },
    filters: {
        normalizeDate(date) {
            let d = date.toLocaleString('ua', {
                year: '2-digit',
                month: 'short',
                day: '2-digit'
            })
            return `<time datetime="${date.toLocaleString('ua')}">${d}</time>`
        }
    },
    mounted() {
        document.addEventListener('click', this.documentClick)
    },
    // при установке глобальных слушателей, нужно их убивать при завершении работы компонента
    destroyed() {
        document.removeEventListener('click', this.documentClick)
    },

    methods: {
        addUser() {
            // динамически добавленный обьект будет реактивным, но если в него добавить новое свойство,
            // оно уже не будет реактивным
            this.user = dataForWatch.user
            this.isUser = true
            this.test = {
                testa: 2
            }
            this.test.t = 4
        },
        changeUser() {
            this.$set(this.user.photos.single, 'thumb', userThumb)
            // this.user.photos.single.thumb = userThumb
        },
        addText() {
            this.text = text
            this.$nextTick()
                .then((vm) => {
                    // ref установлен на компоненте, по этому вернет обьект компонента, а не элемент ДОМ (тег)
                    vm.textHeight = vm.$refs['text'].$el.getBoundingClientRect().height / 2
                })
        },
        documentClick(e) {
            if(!this.isTextOpen) return
            const el = this.$refs.text.$el
            const target = e.target
            if ((el !== target) && !el.contains(target)) {
                this.isTextOpen = false
            }
        }
    }
}
</script>

<style lang="sass">
    @import "~bootstrap/scss/bootstrap"
    //.btn
        //background-color: $indigo
</style>
