<template>
   <div>
    <span>{{songs.about}}</span>
    <br>
    <br>
    <button @click="total">Total during of all songs:{{during}}</button>
    <transition-group name="list" tag="div" class="songs">
        <span v-for="song in songs.compositions" :key="song.id">{{song.name}}<br>{{song.duration}}</span>
    </transition-group>
   </div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
export default {
   props:{
       name:[String],
       newPar:[Object, Array],
   },
   beforeMount(){
     this.getDataOut({0:this.$route.params.item, 1:this.$route.params.name})
   },
   computed:{
     ...mapState ({
        during: state => state.during,
        songs: state => state.albumInfo
     })  
   },
   watch:{
       '$route.params.name':{
           handler(val){
               if (val !== this.songs.name){
                   this.getDataOut({0:this.$route.params.item, 1:this.$route.params.name})
               }
           }
       }
   },
   methods:{
       ...mapActions({
          getDataOut:'GET_DESC' ,
       }),  
       total(){
            this.$store.commit('SET_TOTAL_DURING',this.songs.compositions)
       }
   },
   beforeRouteEnter (to,from,next){
       setTimeout(next(),1000)
   },
   beforeRouteLeave(to, from, next) {
       this.$store.commit('SET_TOTAL_DURING', 0)
       this.$store.commit('SET_ALBUM_INFO', {})
       this.$store.commit('SET_COMPOS_DURATION', {})
      next()
    },
}
</script>
<style lang="sass">
    .songs
        margin-top: 25px
        display: flex
        flex-direction: column
        justify-content: center
</style>