<template>
<div>
    <h2>{{$route.params.item}}</h2>
    <transition-group name="list" tag="div" class="ShowBlock">
    <item-card v-for="item in albums" :key="item.name" :singsong="item" :rout="rout">{{item.name}}</item-card>
    </transition-group>
    <div>
    <transition name="fade" mode="out-in">
    <router-view>
    </router-view>
    </transition>
    </div>
</div>
</template>
<script>
    import ItemCard from './ItemCard'
    import {mapState, mapActions} from 'vuex'
export default {
    components:{
        ItemCard
    },
    props:{
        item:[String],
        newPar:[Object, Array],
        rout:{
            type:String,
            default:'album'
        },
    },
    computed:{
        ...mapState({
            albums: state => state.albums
        })
    },
    methods:{
        ...mapActions({
        getting:'GET_ALBUMS'
        })
    },
    beforeMount(){
        this.getting(this.$route.params.item)
     
    },
    beforeRouteEnter(to, from, next) { 
      next(vm => {
          if (vm.albums !== undefined){
              console.log('All ok')
          } else if (vm.newPar === undefined){
              this.$router.push('outdata')
          }
      })
    },
    beforeRouteLeave(to, from, next){
      this.$store.commit('SET_ALBUMS', {})
      next()
    }
}
</script>