<template>
    <div>
    <template v-if="!isDataLoaded">load...</template>
    <template v-else>
    <h2>Лист</h2>
    <transition-group name="list" tag="div" class="ShowBlock">
    <router-link class="linenone" v-for="art in artist[0]" :key="art.index"  :to="{name:'Item', params:{item: art.name.replace('',''), newPar:[art.album]},}">{{art.name}}<br></router-link>
    </transition-group>
    </template>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
    data (){
        return {
        }
    },
    computed:{
      ...mapState({
          artist:state => state.lArtists,
          isDataLoaded:state => state.allIsLoaded
      })  
    },
    beforeRouteEnter(to ,from, next){
        next()
    },
    beforeRouteLeave(to, from, next){
        this.$store.commit('SET_ALL_DOWNLOADED', false)
        this.$store.commit('SET_ARTISTS', null)
        next()
    },
    beforeMount(){
         setTimeout(this.getArtData,2000);
    },
    methods:{
        ...mapActions({
            getArtData: 'GET_ARTISTS',
        }),
    }
}
</script>