<template>
    <div>
        <span>Пользователь {{news.name}} {{ news.gender | gendFilter }}</span>
        <br>
        <span>задачу "{{news.title}}" {{news.time}}</span>
        <br>
        <span>cтатус выполнения:{{news.state}}.</span>
        <br>
        <span>Изменен:{{news.changed}}</span>
        <br>
        <br>
        <hr>
    </div> 
</template>
<script>
import gendFilter from '@/filters/gendFilter.js'
export default {
    name:'Addnews',
    props:{
        news:{
            type:Object,
            required:true,
        },
        time:new Date(),
    },
    filters:{
        gendFilter
    }

}
</script>
<style lang="sass">

</style>