<template>
<div class="container">
    <h2>Task</h2>
    <input class="taskPut" type="text" @input="$emit('update:title', $event.target.value)"/>
    <h2>Description</h2>
    <input class="descPut" type="text" @input="$emit('update:desc', $event.target.value)"/>
    <h2>ImageUrl</h2>
    <input class="imgPut" type="text"  @input="$emit('update:url', $event.target.value)"/>
    <button class="btn btn-primary mr-3" type="button" @click="$emit('makeSomeStuff')">Add</button>
    <button class="shuff" type="button" @click="$emit('rowShuffle')">&#9776;</button>
    <button class="exit" type="button" @click="$emit('changing')"><img src="https://img.icons8.com/windows/32/000000/door-opened.png"/></button>
</div>
</template>
<script>
export default {
    name:'TaskForm',
    props:{
        title:null,
        desc:null,
        url:null,
    }
}
</script>
<style lang="sass">

</style>