<template>
<div class="sidebar">
    
</div>
</template>
<script>

export default {
    name:'Sidebar',
}
</script>
<style lang="sass">
    .sidebar 
        margin-left: -200px
        margin: -25px
        padding: 0
        width: 200px
        background-color: #f1f1f1
        position: fixed
        height: 100%
        overflow: auto
        transition: 0.5s
</style>