<template>
	<div>
		<input type="text" @input="$emit('update:propName', $event.target.value)"/>
	</div>
</template>

<script>
	export default {
		name: 'MyInput',
		props:{
			propName:null,
		},
	}	
</script> 
<style lang="sass">
</style>