<template>

<div class="container">
    <div class="task">
      <slot name="task">
        <h2>Task</h2>
      </slot>
      </div>
      <div class="desc">
      <slot name="desc">  
      </slot>
      </div>
</div>
</template>
<script>
  export default {
    name: "Wrapper",
    props:{
      title:String,
      desc:String,
      url:String ,
    },
    data() {
      return {
        
      }
    },
    methods:{
      
    }
  }
</script>

<style lang="sass">
    .container 
              width: 400px
              height: 300px
              display: grid
              flex-direction: column
              justify-content: center
    h2 
          text-align: left
    .btn.btn-primary.mr-3
          font-size: 28px
          width: 250px
          height: 50px
    .Img 
          display: flex 
          border: 2px solid black
          height: 100px
          width: 350px
    .descPut 
          width: 700px
          height: 50px
          font-size: 28px
    .taskPut 
          width: 700px 
          height: 50px
          font-size: 28px
    .imgPut 
          width: 700px
          height: 50px
          font-size: 28px
</style>