<template>
<transition name="Animation">
<div class="popup">
    <div class="popup_body" id="form">
        <h2 class="authorize">Авторизация</h2>
        <div>
            <h2>Имя</h2>
            <input @input="$emit('update:nickname',$event.target.value)" class="name" type="text">
        </div>
        <div>
            <h2>Пароль</h2>
            <input @input="$emit('update:code',$event.target.value)" class="pass" type="password">
        </div>
        <button type="submit" class="btn-primary" @click="$emit('verifyData')">Sign In</button>
    </div>
</div>
 </transition>
</template>
<script>
export default {
    name:'Sign',
    props:{
        code:null,
        nickname:null,
    }
}
</script>
<style lang="sass">
.authorize 
    text-align: center
.popup 
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.4)
    position: fixed
    top: 0px
    left: 0px
    display: flex
    justify-content: center
    align-items: center
.popup_body
    width: 500px
    box-sizing: border-box
    position: relative
    padding: 10px 20px
    height: 500px
    background: #fff
    display: flex
    flex-direction: column
    justify-content: space-around
.name 
    width: 400px
    height: 50px
    font-size: 25px
.pass 
    width: 400px
    height: 50px
    font-size: 25px
.Animation-enter-active
    animation: Animation .5s
.Animation-leave-active 
    animation: Animation .5s reverse
@keyframes Animation 
    0% 
        transform: scale(0)
    50% 
        transform: scale(1.5)
    100%
        transform: scale(1)
</style>