<template>
    <div class="wrap" v-bind:class="{rowTime:pos , doned:storage.state}">
    <img class="dImg" :src="storage.url">
    <div class="dData">
        <div class="titleData">
            <input type="text" :disabled="storage.edited" class="titleIn" v-model="newItem.title"/>
        </div>
        <div class="descData">
            <input :disabled="storage.edited" class="descIn" v-model="newItem.desc"/>
        </div>
        <div class="btn-container">
            <button class="btn btn-success" :disabled="storage.state" @click="$emit('doneDo', storage.id)">Done</button>
            <button :disabled="storage.state"  v-show="storage.edited == true" class="btn btn-warning" @click="$emit('editing',storage.id)">Edit</button>
            <button  v-show="storage.edited == false" class="btn btn-warning" @click="$emit('saveData', storage.id , newItem)">Save</button>
            <button  class="btn btn-danger" @click="$emit('deleteDo', storage.id)">Delete</button>
        </div>
    </div>
    </div>
</template>
<script>
export default {
    name:'Wrap',
    props:{
        storage:{
            required:true,
            type:Object
        },
        nTitle:null,
        nDesc:null,
        pos:false,
    },
    data(){
        return{
            newItem:{
                title:this.storage.title,
                desc:this.storage.desc
            }
        }
    }
}
</script>
<style lang="sass">
    .wrap 
        display: flex
        flex-direction: row
        margin-bottom: 20px
    .dImg 
        width: 250px
        height: 125px
        border: 1px solid black
    .dData
        width: 250px
        height: 115px
    .titleData 
        width: 250px
        height: 25px
        border: 1px solid black
    .descData 
        width: 250px
        height: 25px
        border: 1px solid black
    .btn-container 
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 250px
        height: 75px
        border: 1px solid black
    .btn-container button 
        margin-top: 10px
        width: 75px
        height: 50px
    .descIn 
        width: 248px
        height: 25px
        font-size: 20px
    .titleIn 
        width: 248px
        height: 25px
        font-size: 20px
</style>