<template>
<div>
  <h1>GAME SPHERE</h1>
  <div class="about">
    <div class="info">
      <h2>Games develop us</h2>
      <transition name="bounce">
      <div class="water" ref="paper" v-show="somestate">
Neurophysiologist Sean Greene also said that modern video games have evolved into very complex phenomena with principles that various scientists consider fundamentally important for the appearance of positive changes in human behavior, to increase the plasticity of the brain and all its learning ability in general. Being inherently a proactive form of learning, games are usually more effective than passive acquisition of knowledge.
      </div>
      </transition>
      <btn class="wider" @click.native="open" v-if="!somestate">&dArr;</btn>
      <btn class="taller" @click.native="open" v-if="somestate">&uArr;</btn>
    </div>
    <div id="slider" v-if="!buttonShow">
      <transition-group tag="div" class="img-slider" name="slide">
      <div v-for="number in [currentImg]" v-bind:key="number" >
        <img :src="imgList[Math.abs(currentImg) % imgList.length]"/>
      </div>
      </transition-group>
     </div>
     <div class="info">
       <h2>Play and earn</h2>
      <transition name="bounce">
      <div class="water" ref="paper" v-show="somestate_2">
Games in which you can earn there! This is usually an online game. Among them there are browser games and client games such as WoW, Ruler, etc. Browser games and games on the android platform, as a rule, they require initial investments! Everyone decides whether to do it! The most effective way is to sell items at special auctions. More information can be found in the search! I will not indicate links, since there are simply a huge number of them!
      </div></transition>
      <btn class="wider" @click.native="open_2" v-if="!somestate_2">&dArr;</btn>
      <btn class="taller" @click.native="open_2" v-if="somestate_2">&uArr;</btn>
     </div>  
  </div>
</div>
</template>
<script>
import {mapState, mapMutations} from 'vuex'
import Btn from '../components/Btn'
export default {
  components:{
    Btn
  },
  data(){
    return {
      imgList: [
        'https://gametipcenter.com/wp-content/uploads/2011/04/mortal-kombat-9-logo-900x500.jpg',
        'https://www.larazon.es/resizer/i8TvDXHZVJj3aP_x3UI_wyubF7U=/1216x808/smart/arc-photo-larazon.s3.amazonaws.com/eu-central-1-prod/public/ZOV74JPKZ5CT5ITJKVL4ZTLPLQ.JPG',
        'https://www.schuchinsk.kz/wp-content/uploads/2019/03/ciber.jpg'
    ],
    currentImg: 0,
    somestate:true,
    somestate_2:true
    }
  },
  computed:{
    ...mapState({
      buttonShow:state => state.slideShow
    })
  },
  methods:{
        ...mapMutations({
            slideView:'SET_SLIDE_SHOW'
          }),
          open(){
            if(this.somestate === false){
              this.somestate = true
            } else {
              this.somestate = false
            }
          },
          open_2(){
            if(this.somestate_2 === false){
              this.somestate_2 = true
            } else {
              this.somestate_2 = false
            }
          }
  },
  beforeMount(){
    setInterval(() => {
    	this.currentImg = this.currentImg + 1;
    }, 3000);
    console.log(this.$route)
  },
  beforeRouteEnter(to, from, next){
    next(vm => vm.slideView(false))
  }
}
</script>
<style lang="sass">
.wider
    position: relative
    outline: none
    text-decoration: none
    background-color: #cfcfcf
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px
    border-top: none
    border-left: none
    border-right: none
.taller
    position: relative
    outline: none
    text-decoration: none
    background-color: #cfcfcf
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    border-left: none
    border-right: none
    border-bottom: none
.about 
    display: flex;
    justify-content: space-around;
    flex-direction: row
#slider 
    overflow: hidden

.info
    width: 250px
    height: 600px
.water
    width: 250px
    height: 500px
    overflow: hidden
    font-size: 21px
.slide-leave-active,
.slide-enter-active 
  transition: 1s

.slide-enter
  transform: translate(100%, 0)

.slide-leave-to 
  transform: translate(-100%, 0)


.img-slider
  overflow: hidden
  position: relative
  height: 500px
  width: 900px


.img-slider img 
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.bounce-enter-active 
  animation: bounce-in 0.7s

.bounce-leave-active 
  animation: bounce-in 0.7s reverse

@keyframes bounce-in 
  0% 
    transform: scaleY(0)
    max-height: 0px
  
  100% 
    transform: scaleY(1)
    max-height: 500px
  

</style>
