<template>
    <div v-if="myFavourites.length == 0">
        <h1>NO DATA</h1>
        <img src="https://vignette.wikia.nocookie.net/memes-lol/images/d/db/Happy-sad-frog-05.jpg/revision/latest/scale-to-width-down/340?cb=20161119164424&path-prefix=ru"/>
        </div>    
    <div class="mylist" v-else>
        <transition-group name="list" tag="div">
        <card @remove="deldeal" :style="`transition-delay: ${ i * 0.2}s`" v-for="(item, i) in myFavourites" :key="item.id" :obj="item"></card>
        </transition-group>
    </div>
</template>
<script>
import Card from '../components/FavCard'
import { mapState, mapActions } from "vuex";
export default {
    components:{
        Card
    },
    methods:{
        ...mapActions({
            delGame:'GET_DEL_MYGAME'
        }),
        deldeal(game){
            this.delGame(game)
        }
    },
    computed:{
        ...mapState({
            myFavourites:state => state.MyArr
        })
    }
}
</script>
<style lang="sass">
.mylist
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
</style>