<template>
<div v-if="dataLoading">
    <transition name="fade" mode="out-in">
    <h1>Loading...
    </h1>
    </transition>
    </div>
<div v-else>
    <transition-group name="list" tag="div" class="ShowBlock">
    <card :style="`transition-delay: ${ i * 0.2}s`" v-for="(item, i) in games" :key=item.id :games="item" />
    </transition-group>
    <transition name="fade" mode="out-in">
  </transition>
</div>
</template>
<script>
import Card from '@/components/GameCard'
import {mapState, mapMutations} from 'vuex'
export default {
    components:{Card},
    computed:{
    ...mapState({
      games:state => state.MainArr,
      dataLoading:state => state.proccess
    }),
  },
   methods:{
         ...mapMutations({
            access:'SET_DOWNLOADED',
          }),
    },
    beforeRouteEnter(to,from,next){
        next(vm => vm.access(false))  
    },
    beforeRouteLeave(to, from, next){
        this.access(true)
        next()
    }
}
</script>
<style lang="sass">
.ShowBlock
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
.list-enter-active, .list-leave-active
        transition: opacity .5s
  
.list-enter, .list-leave-to
        opacity: 0
        transform: translateY(30px)
</style>