<template>
    <div id="news">
        <div class="c-nav">

            <div class="c-nav">
                <router-link :to="{ name: 'r-news' }">News</router-link> |
                <router-link to="/r-news-with">News-with</router-link>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Nav"
    }
</script>

<style scoped>

</style>