<template>
    <div>
        <button @click="increasing">{{getStoreCount}}</button>
    </div>
</template>
<script>
export default {
    name:'Counter',
    computed: {
       getStoreCount() {
           return this.$store.state.num;
       } 
    },
    methods: {
        increasing(){
            this.$store.dispatch('COUNT')
        }
    }
}
</script>
<style lang="sass">

</style>