._btn.int {
	border-radius:50%;
	border:2px solid #b8ecff;
	outline: none;
	background-color: #8eddfa;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._btn.str {
	border-radius:50%;
	border:2px solid #ff7a7a;
	outline: none;
	background-color: #f53d3d;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._btn.agi {
	border-radius:50%;
	border:2px solid #0ac439;
	outline: none;
	background-color: #008f24;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._btn.mana {
	border:2px solid #b8ecff;
	outline: none;
	background-color: #8eddfa;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._btn.health {
	border:2px solid #ff7a7a;
	outline: none;
	background-color: #f53d3d;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._btn.speed {
	border:2px solid #0ac439;
	outline: none;
	background-color: #008f24;
	width:100px;
	height:50px;
	font-family: 'Righteous', cursive;
}
._heroes-block {
	display: flex;
	flex-direction: column;
	color:black;
	font-family:'Righteous', cursive ;
}
._mana {
	display: flex;
	flex-direction: column;
	color:black;
	font-family:'Righteous', cursive ;
	background-color: #8eddfa;
	transition: 0.5s;
}
._health {
	display: flex;
	flex-direction: column;
	color:black;
	font-family:'Righteous', cursive ;
	background-color: #f53d3d;
	transition: 0.5s;
}
._speed {
	display: flex;
	flex-direction: column;
	color:black;
	font-family:'Righteous', cursive ;
	background-color: #008f24;
	transition: 0.5s;
}
