<template>
    <div class="favcard">
        <div class="image">
            <img :src="obj.img">
        </div>
        <div class="favinfo">
            <div class="dataf">
                <span class="tx">
                    {{obj.name}}
                </span>
            </div>
            <div class="datas">
                <span class="tx">
                    Your rating: {{obj.mark}}&#9733;
                </span>
            </div>
            <div class="datas">
                <span class="tx">
                    Like because: {{obj.reason}}
                </span>
            </div>
            <div class="datal">
                <span class="tx">
                    Was added: {{obj.time}}
                </span>
            </div>
        </div>
        <btn @click.native="$emit('remove', obj)" class="delDeal">Delete</btn>
    </div>
</template>
<script>
import Btn from './Btn'
export default {
    components:{
        Btn
    },
    props:{
        obj:{
            type:Object,
            required:true
        }
    }
}
</script>
<style lang="sass">
.delDeal
    width: 100px
    height: 350px
    margin-top: 25px
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
    border: 3px solid black
    font-weight: bold
    background-color: red
.datas
    border-bottom: 3px solid black
    width: 397px
    height: 100px
    color: black
    background-color: #006b70
    font-size: 28px
.dataf
    width: 397px
    height: 100px
    color: black
    background-color: #006b70
    font-size: 28px
    border-bottom: 3px solid black
    border-top-right-radius: 20px
.datal
    width: 397px
    height: 100px
    color: black
    background-color: #006b70
    font-size: 28px
    border-bottom-right-radius: 20px
.favcard
    display: flex
    flex-direction: row
    width: 800px
    height: 400px
    border: 3px solid black
    border-radius: 25px
    margin-top: 25px
.image
    width: 400px
    height: 400px
.image img
    width: 400px
    height: 400px
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
.favinfo
    display: flex
    flex-direction: column
    width: 400px
    height: 400px
    border-left: 3px solid black
    background-color: #006b70
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
</style>