<template>
<div>
    <span>{{myNumber}} - {{myNumber | MyFilter(words)  }}</span>
</div>
</template>
<script>
import MyFilter from '@/components/filters/MyFilter.js' 
export default {
    name:'bananas',
    data(){
        return {
            myNumber:10,
            words:['банан','банана','бананов']
        }
    },
    filters: {
        MyFilter
    }
}
</script>
<style lang="sass">

</style>