<template>
    <div>
        <button :data-test="dataAttr" @click="clickEvent($event)" :type="Type">{{label}}</button>
    </div>
</template>
<script>
import MixinsForButton from '@/assets/mixins/mixinsForButton.js'
export default {
    name:'ButtonForMixin',
    mixins:[MixinsForButton],
    props:{
        dataAttr:{
            type:String,
            
        }
    },
    methods:{
        clickEvent(event){
            console.log('btn component')
            this.handler(event, () => {console.log('event:', event )})
        }
    }
}
</script>
<style lang="sass">

</style>