<template>
    <ul>
        <li v-for="(item,i) in arr" :key="i"  class="simple" v-builder="{mod}">{{item}}</li>
    </ul>
</template>
<script>
import builder from '../assets/directives/builder.js'
export default {
    name:'classBuilder',
    directives:{
        builder
    },
    data(){
        return {
            mod:'modified', 
            arr:['Start', 'Edit','Save', 'Delete']
        }
    },
}
</script>
<style lang="sass">
    .simple
        font-size: 15px
    .simple.modified 
        font-size: 30px
</style>