<template>
    <ul>
        <li v-for="(item, i) in MyArr" :key="item" v-afterloop="{i, length:MyArr.length, met }">{{item}}</li>
    </ul>
</template>
<script>
import afterloop from '../assets/directives/afterloop.js'
export default {
    name:'Directive',
    directives:{
        afterloop
    },
    data(){
        return{
            MyArr:['sad','happy','chill'],
        }
    } ,
    methods:{
        met(){
            console.log('afterloop')
        }
    }       
}
</script>
<style lang="sass">

</style>