<template>
<div class="slider">
    <div class="mrHide" :style="{'margin-left': '-' + (100 * position) + '%'}">
        <slider-item v-for="item in sliderData" :key="item" :item_data="item"></slider-item>
    </div>
    <button @click="prevItem">Prev</button>
    <button @click="nextItem">Next</button>
</div>
</template>
<script>
import SliderItem  from './SliderItem'
export default {
    name:'Slider',
    components:{
        SliderItem
    },
    data(){
        return {
            position:0
        }
    },  
    props:{
        sliderData:{
            type:Array,
        }
    },
    methods:{
        prevItem(){
            if (this.position === 0){
            this.position = 2
            } else {
                this.position--
            }   
        },
        nextItem(){
        if (this.position >= this.sliderData.length -1){
            this.position = 0
        } else {
            this.position++
        }
      }
    }
}   
</script>
<style lang="sass">
    .slider
        max-width: 600px
        overflow: hidden
    .mrHide 
        display: flex
        transition: all ease .5s 
</style>