<template>
    <div>
        <img :src="item_data">
    </div>
</template>
<script>
export default {
    name:"SliderItem",
    props: {
        item_data :{
            type:String,
            required:true,
        }
    }
}
</script>
<style lang="sass">

</style>