<template>
   <div>
    <span>{{songs.about}}</span>
    <br>
    <br>
    <span>Total during of all songs:{{during}}</span>
    <transition-group name="list" tag="div" class="songs">
        <span v-for="song in songs.compositions" :key="song.id">{{song.name}}<br>{{song.duration}}</span>
    </transition-group>
   </div>
</template>
<script>
export default {
   props:{
       name:[String],
       newPar:[Object, Array],
   },
   data(){
       return {
           songs:{},
           during:0
       }
   },
   watch:{
       '$route':'getting'
   },
   methods:{
       tDuration(){
           this.during = 0
        for (let i = 0; i<this.songs.compositions.length; i++){
           let newVal = this.songs.compositions[i].duration.replace(':','.')
           this.during = this.during + parseFloat(newVal)
        }
       },
       getting(){
            const vm = this;
            if (vm.newPar === undefined){
             fetch("http://www.json-generator.com/api/json/get/cuKKbBWWXm?indent=2")
             .then(resolve => {
            return resolve.json()
             })
            .then(result =>{
            let paramData = result.filter(el => el.name === vm.$route.params.item)
            let albData = paramData[0].album.filter(el => el.name === vm.name)
            vm.songs = albData[0]
            console.log(albData)
             })
            }else {
            vm.songs = vm.newPar.songs;
            }
        }
   },
   beforeRouteEnter (to,from,next){
       next(vm => {
           vm.getting()
       })
   },
   beforeRouteUpdate(to, from, next) {
      this.tDuration()
      next()
    },
}
</script>
<style lang="sass">
    .songs
        margin-top: 25px
        display: flex
        flex-direction: column
        justify-content: center
</style>