<template>
<div>
    <router-link class="linenone" :to="{name:rout ,params:{name:singsong.name ,newPar:{'songs':singsong}}}">{{singsong.name}}</router-link>
</div>
</template>
<script>
export default {
    name:'ItemCard',
    props:{
        singsong:{
            type:[Object],
            required:true
        },
        rout:{
            type:String
        },
        
    }
}
</script>