<template>
<div>
    <h2>{{$route.params.item}}</h2>
    <transition-group name="list" tag="div" class="ShowBlock">
    <item-card v-for="item in albums" :key="item.name" :singsong="item" :rout="rout">{{item.name}}</item-card>
    </transition-group>
    <div>
    <transition name="fade" mode="out-in">
    <router-view></router-view>
    </transition>
    </div>
</div>
</template>
<script>
    import ItemCard from './ItemCard'
export default {
    components:{
        ItemCard
    },
    props:{
        item:[String],
        newPar:[Object, Array],
        rout:{
            type:String,
            default:'album'
        },
    },
    data(){
        return{
            albums:[]
        }
    },
    methods:{
        getting(){
            const vm = this;
            if (vm.newPar === undefined){
             fetch("http://www.json-generator.com/api/json/get/cuKKbBWWXm?indent=2")
             .then(resolve => {
            return resolve.json()
             })
            .then(result =>{
            let paramData = result.filter(el => el.name === vm.$route.params.item)
            vm.albums = paramData[0].album
             })
            }else {
                this.albums = vm.newPar.albums;
            }
        }
    },
    beforeRouteEnter(to, from, next) { 
      next(vm => {
          vm.getting()
      })
    },
}
</script>