<template>
    <div v-if="isDataLoaded === true">
    <h2>Лист</h2>
    <transition-group name="list" tag="div" class="ShowBlock">
    <router-link :style="`transition-delay: ${i * 0.5}s`" class="linenone" v-for="art in artist" :key="art.index" :artist="art.album" :to="{name:'Item', params:{item: art.name.replace('',''), newPar:{0:art.album}},}">{{art.name}}<br></router-link>
    </transition-group>
    </div>
</template>
<script>
export default {
    data (){
        return {
            artist:[],
            isDataLoaded:false
        }
    },
    methods:{
        noData(val){
            console.log(val)
        }
    },
    beforeRouteEnter(to ,from, next){
       setTimeout(function(){
            next(vm => {
             fetch("http://www.json-generator.com/api/json/get/cuKKbBWWXm?indent=2").then(resolve => {
            return resolve.json()
            this.isDataLoaded = true
        }).then(result =>{
            vm.artist = result;
            vm.isDataLoaded = true
        })
        })
       }, 3000)
    },
    beforeRouteLeave(to,from,next){
        next()
    }
}
</script>