<template>
    <div>
        <router-link class="linkes" to="/Contacts">Contacts</router-link>
        <router-link class="linkes" to="/List">List</router-link>
        <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="sass">
    .linkes
        text-decoration: none
        margin-left: 5px
</style>