<template>
    <button class="btn" :class="form.btnClass || 'btn-primary'">click me</button>
</template>

<script>
    export default {
        name: "BtnForm",
        inject: {
            form: {
                default: {}
            }
        }
    }
</script>

<style scoped>

</style>