<template>
    <input type="text" class="mr-3" :style="inputStyles()" @input="$emit('input', $event.target.value)" :value="value">
</template>

<script>
    export default {
        name: "CInput",
        inject: {
            form: {
                default: {}
            }
        },
        props: {
            value: null
        },
        methods: {
            inputStyles() {
                if(this.form.inputBorder && this.form.inputBorder === 'bottom') {
                    return 'border: none; border-bottom:1px solid green; background-color: rgba(255, 255, 255, .5)'
                } else {
                    return ''
                }
            }
        }
    }
</script>

<style scoped lang="sass">

</style>