<template>
    <p :style="{'background-color': form.bg || '#fff'}">
        <slot></slot>
    </p>
</template>

<script>
    export default {
        name: "TextWrap",
        inject: {
            form: {
                default: {}
            }
        }
    }
</script>

<style scoped>

</style>