<template>
  <div id="main">
   <!-- <my-input :propName.sync="size" @input="Checking()" label="Check"></my-input>
   <p>{{size}}</p>  -->
  
  <div class="sidebar">
    <transition-group name="list">
    <news v-for="(item, i) in newDo" :key="item.id" :news="item" :style="`transition-delay: ${i * 0.5}s`"></news>
    </transition-group>
  </div>
   <template v-if="verification == false">
      <sign-in :nickname.sync="login" :code.sync="password" @verifyData="verify"></sign-in>
   </template>
   <template v-else>
     <wrap>
   <template #task>
      <task :title.sync="titlePut" :desc.sync="descPut" :url.sync="urlPut" @makeSomeStuff="toDo" @rowShuffle="shuffle" @changing="changeUser"></task>
   </template>
   <template #desc>
     <div>
     <transition-group name="list" tag="div" class="ShowDoList" v-bind:class="{rowTime :rowPos}">
          <card  v-for="(val, i) in list" :style="`transition-delay: ${i * 0.5}s`"  :key="`${i}-l`" 
          :storage="val" @deleteDo="del" @editing="edit" @saveData="save" @doneDo="done" :pos.sync="rowPos"></card>
      </transition-group>     
      </div>
   </template>
   </wrap>
   </template>
   
  </div>

</template>

<script>
import Example from './components/MyInput.vue'
import Wrapper from './components/MyWrapperToDoList.vue'
import Task from'./components/FormForData.vue'
import Wrap from './components/wrap.vue'
import Sign from './components/Sign.vue'
import Sidebar from './components/sidebar.vue'
import Barnews from './components/barNews.vue'

export default {
  name: 'App',
  components: {
    'my-input':Example,
    'wrap':Wrapper,
    'task':Task,
    'card':Wrap,
    'sign-in':Sign,
    'side':Sidebar,
    'news':Barnews,
  },
  data () {
      return {
        size:'',
        titlePut:'',
        descPut:'',
        urlPut:'',
        user:'',
        login:'',
        password:'',
        verification:false,
        rowPos:false,
        gender:'',
        list:[],
        newDo:[],
      }
  },
  methods: {
    Checking(){
      console.log(this.size);
    },
    getting(){
      if (sessionStorage.getItem(this.user)== null){
        let SomeArr = [];
        sessionStorage.setItem(this.user,JSON.stringify(SomeArr));
      }
      let VerArr = sessionStorage.getItem(this.user);
      let Doings = sessionStorage.getItem('AllDo'); 
      let ParsedData = JSON.parse(VerArr);
      let ParsedNews = JSON.parse(Doings);
      for (var i = 0; i<ParsedData.length; i++){
          this.list.push(ParsedData[i]);  
      }
      for (var i = 0; i<ParsedNews.length; i++){
          this.newDo.push(ParsedNews[i]);
      }
    },
    reservation(){
      const Users = [{name:'Фомин',password:121212,gender:"male"},{name:'Алёна',password:131313,gender:"female"},{name:'Дмитрий',password:141414,gender:"male"}]
      sessionStorage.setItem('Peoples', JSON.stringify(Users));
    },
    toDo(){
      var uniqid = require('uniqid');
      function validateUrl(url) {
         return (/\.(jpg|png)$/i).test(url);
      }
      if (validateUrl(this.urlPut) === false){
       alert('Недопустимый формат файла, был поставлена дефолтная картинка')
        this.urlPut = "https://lh3.googleusercontent.com/proxy/AN9hTukQg0TzRcoCi24V6jGASo-5rjzy0FHBzDv9s1ygwqKWi06j9FIPzEqfQLnNzrKYAfjRPQYqAp-kq7VFtMR3LMjvkeIxxKC7tjPwFH1t"
      }
      const MyObj = {
        title:this.titlePut, desc:this.descPut, url:this.urlPut, state:false, id:uniqid(),edited:true, name:this.user, gender:this.gender, time:new Date().toLocaleString(), changed:false
      }
      this.list.push(MyObj)
      sessionStorage.setItem(this.user, JSON.stringify(this.list));
      this.newDo.push(MyObj)
      sessionStorage.setItem('AllDo', JSON.stringify(this.newDo));
      console.log(this.list);
    },
    del(id){
      this.list = this.list.filter( el => el.id !== id)
      let Jsoned = JSON.stringify(this.list);
      sessionStorage.setItem(this.user, Jsoned);
    },
    edit(id){
      let NodeId = id
      let MyArr = this.list
      function Filtring (el){
        return el.id === id
      }
      const Obj = this.list.filter(Filtring);
      Obj[0].edited = false
      let Jsoned = JSON.stringify(this.list);
      sessionStorage.setItem(this.user, Jsoned);
    },
    save(id, item){
       this.list.forEach(el => {
        if(el.id === id) {
          el.edited = true
          el.changed = true
            Object.keys(item).forEach(key => {
                el[key] = item[key]
            })
        }
      })
      const Obj = this.newDo.filter(el => el.id === id)
      Obj[0].changed = true;
      let Jsoned_2 = JSON.stringify(this.newDo);
      let Jsoned = JSON.stringify(this.list);
      sessionStorage.setItem(this.user, Jsoned);
      sessionStorage.setItem('AllDo', Jsoned_2)
    },
    done (id){
      console.log(id)
      const Obj = this.list.filter(el => el.id === id)
      const Obj_2 = this.newDo.filter(el => el.id === id)
      Obj[0].state = true
      Obj_2[0].state = true
      let Jsoned_2 = JSON.stringify(this.newDo)
      let Jsoned = JSON.stringify(this.list);
      sessionStorage.setItem(this.user, Jsoned);
      sessionStorage.setItem('AllDo', Jsoned_2)
    },
    verify(){
      let DataUsers = sessionStorage.getItem('Peoples');
      let Parsed = JSON.parse(DataUsers);
      console.log(this.login, this.password);
      const Obj = Parsed.filter(el => el.name == this.login && el.password == this.password);
      this.user = Obj[0].name;
      this.gender = Obj[0].gender;
      setTimeout(this.getting, 1500);
      this.verification = true;
    },
    shuffle(){
     if (this.rowPos == true){
       this.rowPos = false
     } else {
       this.rowPos = true
     }
    },
    changeUser(){
      this.user = null;
      this.list = [];
      this.newDo = [];
      this.verification = false;
     
    }
    
  },
  created(){
    setTimeout(this.reservation,2000);
  },
 }
</script>

<style lang="sass">
  @import "~bootstrap/scss/bootstrap.scss"

  body
        width: 100%
        height: 100%
        padding: 15px
        margin: 0

  h5
        color: #40b480

  h6
        font-weight: 400
        color: #79b392

  code
        background-color: #f3f3f3
        font-style: italic

  #main
        padding: 10px
  
  .ShowDoList 
        display: grid
        flex-direction: column
        margin-top: 50px
        justify-content: center
        margin-left: 200px
  .ShowDoList.rowTime 
        flex-direction: row
        display: flex
        flex-wrap: wrap
        margin-left: 200px
  .wrap.rowTime
        flex-direction: column
        margin-right: 50px
  .wrap.rowTime.doned 
        opacity: 0.5
  .wrap.doned
        opacity: 0.5
  .shuff 
        border: none
        width: 40px
        height: 40px
        position: absolute
        margin-left: 70%
  .exit 
        border: none
        width: 40px
        height: 40px
        position: absolute
        margin-left: 65%
        background-color: none
  .list-enter-active, .list-leave-active
        transition: opacity .5s
  
  .list-enter, .list-leave-to
        opacity: 0
        transform: translateY(30px)
  .fade-enter-active, .fade-leave-active 
        transition: opacity .5s
  .fade-enter, .fade-leave-to 
        opacity: 0
        transform: translateY(10px)
  
</style>






 