<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
	<style>
		.int { 
			background-color:blue;
		 }
		 .str {
		 	background-color:red;
		 }
		 .agi {
		 	background-color:green;
		 }
		 .heroes {
		 	display: flex;
		 	flex-direction: row;
		 	color:black;
		 	font-family: sans-serif;
		 }
		 .attribute {
		 	display: flex;
		 	flex-direction: row;
		 	color:black;
		 	font-family: sans-serif;
		 }
		 .BeautyButtons_int {
		 	border-radius:50%;
		 	border:2px solid #b8ecff;
		 	outline: none;
		 	background-color: #8eddfa;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .BeautyButtons_str {
		 	border-radius:50%;
		 	border:2px solid #ff7a7a;
		 	outline: none;
		 	background-color: #f53d3d;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .BeautyButtons_agi {
		 	border-radius:50%;
		 	border:2px solid #0ac439;
		 	outline: none;
		 	background-color: #008f24;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .heroes_appearing {
		 	font-family: 'Righteous', cursive;
		 	font-size:16px;
		 	margin-bottom: 20px;
		 }
		 .heroes_appearing.int {
		 	background-color: #8eddfa;
		 }
		 .heroes_appearing.str {
		 	background-color: #f53d3d;
		 }
		 .heroes_appearing.agi {
		 	background-color: #008f24;
		 }
		 .attribute_int{
		 	border:2px solid #b8ecff;
		 	outline: none;
		 	background-color: #8eddfa;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .attribute_str{
		 	border:2px solid #ff7a7a;
		 	outline: none;
		 	background-color: #f53d3d;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .attribute_agi{
		 	border:2px solid #0ac439;
		 	outline: none;
		 	background-color: #008f24;
		 	width:100px;
		 	height:50px;
		 	font-family: 'Righteous', cursive;
		 }
		 .blue {
		 	background-color: #8eddfa;
		 	transition: 1s;
		 }
		 .red {
		 	background-color: #f53d3d;
		 	transition: 1s;
		 }
		 .green {
		 	background-color: #008f24;
		 	transition: 1s;
		 }
		</style>
	<div id="app">
		<div v-bind:class="bindClassHeroesBlock">
			<button v-bind:class="bindClassButtons_int" v-on:click="showCase=int">{{attr_1}}</button>
			<button v-bind:class="bindClassButtons_str" v-on:click="showCase=str">{{attr_2}}</button>
			<button v-bind:class="bindClassButtons_agi" v-on:click="showCase=agi">{{attr_3}}</button>
		</div>
		<div v-bind:class="bgClass">
			<div v-bind:class="bindClassTransition" v-for="hero in showCase">{{hero}}</div>
		</div>
		<div v-bind:class="bindClassBackgroundAttr">
			<button v-bind:class="bindClassAttribute_int" v-on:click="bgClass=bgClass_int">Mana</button>
			<button v-bind:class="bindClassAttribute_str" v-on:click="bgClass=bgClass_str">Health</button>
			<button v-bind:class="bindClassAttribute_agi" v-on:click="bgClass=bgClass_agi">Speed</button>
		</div>
	</div>
</body>
<script type="text/javascript" src="main_Vue.js"></script>
</html>
