<template>
  <div id="main">
   <!-- <my-input :propName.sync="size" @input="Checking()" label="Check"></my-input>
   <p>{{size}}</p>  -->
  
  <div class="sidebar" :style="{marginLeft:verification ? '-20px' : '-220px'}">
    <transition-group name="list">
    <news v-for="(item, i) in newDo" :key="item.id" :news="item" :style="`transition-delay: ${i * 0.5}s`"></news>
    </transition-group>
  </div>
   <template v-if="verification == false">
      <sign-in :nickname.sync="login" :code.sync="password" @verifyData="verify"></sign-in>
   </template>
   <template v-else>
     <wrap>
   <template #task>
      <task :title.sync="titlePut" :desc.sync="descPut" :url.sync="urlPut" @makeSomeStuff="toDo" @rowShuffle="shuffle" @changing="changeUser"></task>
   </template>
   <template #desc>
     <div>
     <transition-group name="list" tag="div" class="ShowDoList" v-bind:class="{rowTime :rowPos}">
          <card  v-for="(val, i) in list" :style="`transition-delay: ${i * 0.5}s`"  :key="`${i}-l`" 
          :storage="val" @deleteDo="del" @editing="edit" @saveData="save" @doneDo="done" :pos.sync="rowPos"></card>
      </transition-group>     
      </div>
   </template>
   </wrap>
   </template>
   
  </div>

</template>

<script>
import Example from './components/MyInput.vue'
import Wrapper from './components/MyWrapperToDoList.vue'
import Task from'./components/FormForData.vue'
import Wrap from './components/wrap.vue'
import Sign from './components/Sign.vue'
import Sidebar from './components/sidebar.vue'
import Barnews from './components/barNews.vue'
import {mapState, mapActions, mapMutations} from 'vuex'
export default {
  name: 'App',
  components: {
    'my-input':Example,
    'wrap':Wrapper,
    'task':Task,
    'card':Wrap,
    'sign-in':Sign,
    'side':Sidebar,
    'news':Barnews,
  },
  data () {
      return {
        size:'',
        titlePut:'',
        descPut:'',
        urlPut:'',
        login:'',
        password:'', 
        user:'',
        list:[],
        gender:null,
        newDo:[],
      }
  },
  methods: {
    ...mapActions ({
      verifiying: 'GET_VERIFY',
      todo:'GET_NEWDO_LIST',
      removing:'GET_DELETE_BY_ID',
      saving:'GET_SAVE_DATA',
      doned:'GET_DONE_DATA',
    }),
    ...mapMutations({
      zName:'SET_USER',
      zList:'SET_CURR_LIST',
      zAllDos:'SET_LIST_ALL_DOS',
      zVerify:'SET_VERIFICATION',
      zPosition:'SET_ROWPOS',
    }),
    getting(){
      this.list = this.$store.state.currList;
      this.gender = this.$store.state.gender
      this.newDo = this.$store.state.listAllDos
      this.user = this.$store.state.user
    },
    Checking(){
      console.log(this.size);
    },
    reservation(){
      const Users = [{name:'Фомин',password:121212,gender:"male"},{name:'Алёна',password:131313,gender:"female"},{name:'Дмитрий',password:141414,gender:"male"}]
      sessionStorage.setItem('Peoples', JSON.stringify(Users));
       let arr = [];
       if(sessionStorage.getItem('AllDo',JSON.stringify(arr)) == null){
          sessionStorage.setItem('AllDo',JSON.stringify(arr))
       }
    },
    toDo(){
      var uniqid = require('uniqid');
      function validateUrl(url) {
         return (/\.(jpg|png)$/i).test(url);
      }
      if (validateUrl(this.urlPut) === false){
       alert('Недопустимый формат файла, был поставлена дефолтная картинка')
        this.urlPut = "https://cdn.beta.qalampir.uz/assets/c195c65b/img/no_image.jpg"
      }
      const MyObj = {
        title:this.titlePut, desc:this.descPut, url:this.urlPut, state:false, id:uniqid(),edited:true, name:this.user, gender:this.gender, time:new Date().toLocaleString(), changed:false
      }
      this.todo(MyObj)
    },
    del(id){
      this.removing(id)
      this.getting()
    },
    edit(id){
      let NodeId = id
      const Obj = this.list.filter(el => el.id === id);
      Obj[0].edited = false
    },
    save(id, item){
      this.saving({sId:id, sItem:item})
      this.getting();
    },
    done (id){
      this.doned(id);
      this.getting();
    },
    verify(){
      this.verifiying({login:this.login, password:this.password}),
      setTimeout(this.getting, 2000)
      this.zVerify(true);
    },
    shuffle(){
      this.zPosition();
    },
    changeUser(){
      this.user = null;
      this.list = [];
      this.newDo = [];
      this.zName(null)
      this.zList = [];
      this.zAllDos = [];
      this.zVerify(false);
    }
  },
  computed:{
    ...mapState({
      verification: state => state.verification,
      rowPos: state => state.anothPos,
    })
  },
  created(){
    setTimeout(this.reservation,2000);
  },
 }
</script>

<style lang="sass">
  @import "~bootstrap/scss/bootstrap.scss"

  body
        width: 100%
        height: 100%
        padding: 15px
        margin: 0

  h5
        color: #40b480

  h6
        font-weight: 400
        color: #79b392

  code
        background-color: #f3f3f3
        font-style: italic

  #main
        padding: 10px
  
  .ShowDoList 
        display: grid
        flex-direction: column
        margin-top: 50px
        justify-content: center
        margin-left: 200px
  .ShowDoList.rowTime 
        flex-direction: row
        display: flex
        flex-wrap: wrap
        margin-left: 200px
  .wrap.rowTime
        flex-direction: column
        margin-right: 50px
  .wrap.rowTime.doned 
        opacity: 0.5
  .wrap.doned
        opacity: 0.5
  .shuff 
        border: none
        width: 40px
        height: 40px
        position: absolute
        margin-left: 70%
  .exit 
        border: none
        width: 40px
        height: 40px
        position: absolute
        margin-left: 65%
        background-color: none
  .list-enter-active, .list-leave-active
        transition: opacity .5s
  
  .list-enter, .list-leave-to
        opacity: 0
        transform: translateY(30px)
  .fade-enter-active, .fade-leave-active 
        transition: opacity .5s
  .fade-enter, .fade-leave-to 
        opacity: 0
        transform: translateY(10px)
  
</style>






 