<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <div>
        <button @click="showPage(+1)">Next</button>
        <button @click="showPage(-1)">Prev</button>
      </div>
    <transition name="fade" mode="out-in">
    <router-view name="navigation"/>
     </transition>
    <transition name="fade" mode="out-in">
    <router-view/>
     </transition>
  </div>
</template>
<script>
import store from './store/index.js'
export default {
   methods:{
    showPage(index){
      let oldLoad = window.location.href;
      this.$router.go(index);
    }
  }
}
</script>
<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50


.c-nav
  padding: 30px

  a
    font-weight: bold
    color: #2c3e50

    &.router-link-exact-active
      color: #42b983


.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
  
.list-enter-active, .list-leave-active
        transition: opacity .5s
  
.list-enter, .list-leave-to
        opacity: 0
        transform: translateY(30px)
.linenone
        text-decoration: none
        color: #000000
.linenone:hover
        transition: 0.5s
        color: #828282
.ShowBlock
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
.ShowBlock a 
        width: 100px
        height: 75px
.ShowBlock span
        width: 100px
        height: 75px
</style>
