<template>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <c-title :tag="titleTag" :t-class="titleClass">{{ titleText }}</c-title>
            </div>
            <div class="col-12">
                <slot></slot>
            </div>
        </div>
    </section>
</template>

<script>
    import CTitle from "./CTitle";

    export default {
        name: "CSection",
        components: {
            CTitle
        },
        props: {
            titleTag: String,
            titleText: {
                type: String,
                default: 'Title'
            },
            titleClass: String
        }
    }
</script>

<style scoped lang="sass">
    .section-title
        color: red
</style>