<template>
  <div :class="'col-'+cardSize">
    <div class="card" :style="{'opacity':status() ? 0.5 : 1}">
      <img :src="getImg(news)" :alt="news.title" class="card-img-top">
      <div class="card-body">
        <div class="card-title">{{ news.title }}</div>
        <div class="card-text">{{ news.desc }}</div>
      </div>
      <div class="card-footer">
        <router-link :to="{name: routName, params: { id: news.id, newPar: news }}" class="card-link">more</router-link>
      </div>
    </div>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import defImg from '../assets/js/mixin_defaultImg'

  export default {
    name: "NewsCard",
    mixins: [ defImg ],
    props: {
      news: {
        type: Object,
        required: true
      },
      routName: {
        type: String,
        default: 'single-news'
      },
      cardSize: {
        type: Number,
        default: 4
      }
    },
    methods: {
      status(){
        debugger
        return this.$store.getters['GET_STATYS_NEWS'](this.news.id)
      }
    }
  }
</script>

<style lang="sass">

</style>