<template>

<!--
  this.$router - обьект с экземпляром маршрутизатора. Внем все созданные роуты, параметры и методы
  this.$route - обьект с текущим роутом

-->

  <div id="app">
    <div class="c-nav">
      <!--
    router-link - компонент ссылка, в DOM vue создат тег <a></a>.
    Принимает параметр "to", в котором указывается url для перехода,
    to можно связать и передать в него метод, который вернет обьект или строку маршрута
    Автоматически получает класс .router-link-active, при нахождении на маршруте
    -->
      <router-link to="/r-home">Vue-Router</router-link> |
      <router-link to="/r-news-home">News</router-link>
      <br><br>

      <button type="button" @click="goMain">Go to main page</button>
      <button type="button" @click="goNewsReplace">Go to news page</button>
      <button type="button" @click="goGo">journey through history</button>

    </div>

    <!-- Именованное представление - идентично именованным слотам,
    разница только в том что контент для маршрута определяется в конфигурации маршрутов -->
    <router-view name="addNav" />

    <!-- router-view - компонент для отображения компонента совпавшего маршрута -->
    <!--  transition - используется так же для анимирования перехода между страницами  -->
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        pathNews: 'news-home'
      }
    },

    methods: {
      goMain() {
        // $router.push - метод принимает обьект или строку маршрута, создает запись в обьекте history,
        // и производит переход на указанный маршрут. При нажатии на router-link метод push вызывается автоматом
        // так же 2 и 3 параметром принимает колбеки onComplete и onAbort
        // программная навигаци не СЕО дружелюбна.

        // варианты аргумента описывающий маршрут:
        // строка - router.push('home') (`/home/${about}`)
        // объект - router.push({ path: 'home' })
        // именованный маршрут /single/:id - router.push({ name: 'single', params: { id: '123' } })
        // со строкой запроса, получится /filter?price=10000 - router.push({ path: 'filter', query: { price: 10000 } })

        this.$router.push('/')
      },
      goNewsReplace() {
        // .$router.replace - то же что и push только не создает записи а заменяет текущую
        this.$router.replace(`/r-${this.pathNews}`)
      },
      goGo() {
        // $router.go - принимает число (целое), шаг по истории
        this.$router.go(-1)
      }
    }
  }
</script>

<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50


.c-nav
  padding: 30px

  a
    font-weight: bold
    color: #2c3e50

    &.router-link-exact-active
      color: #42b983


.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

</style>
