<template>
<transition name="fade" mode="out-in">
  <div id="app">
    <div id="nav">
      <router-link to="/">Main</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/Favourites">MyFavourites</router-link>
    </div>  
    <transition name="fade" mode="out-in">
    <div v-if="!loading">
      <h1>R.A.W.G</h1>
    <h2>The biggest video game database</h2>
    </div>
    </transition>
    <transition name="fade" mode="out-in">
    <div v-if="!loading">
      <btn  class="pageChanger" @click.native="prev">&lt;</btn>
      <btn  class="pageChanger" @click.native="next">&gt;</btn>
      </div>
       </transition>
    <transition name="fade" mode="out-in">
    <router-view/>
     </transition>
  </div>
   </transition>
</template>
<script>
import {mapState, mapMutations, mapActions} from 'vuex'
import Btn from './components/Btn'
export default {
  data(){
    return {
      currPos:1
    }
  },
  components:{
    Btn
  },
  methods:{
        ...mapMutations({
            accepting:'SET_MAINARR',
            changing:'SET_PROCCESS',
            location:'SET_SITE',
          }),
        ...mapActions({
          dataFetch:'GET_INFO'
        }),
        next(){
          if(this.currPos == 10){
            this.currPos = 0
          }
          this.currPos++
          this.location(this.currPos)
           this.changing(true)
           this.accepting([])
          setTimeout(this.dataFetch, 3000)
        },
        prev(){
          if(this.currPos == 1){
            this.currPos = 11
          }
          this.currPos--
           this.location(this.currPos)
           this.changing(true)
           this.accepting([])
          setTimeout(this.dataFetch, 3000)
        },      
  },
  computed:{
    ...mapState({
      gamelist:state => state.MainArr,
      loadData:state => state.MainObj,
      loading:state => state.downloaded,
      page:state => state.site
    })
  },
  beforeMount(){
    setTimeout(this.dataFetch, 3000)
  },
}
</script>

<style lang="sass">
#app 
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
body
  width: 100%
  height: 100%
  margin: 0
  background-color: #cfcfcf
#nav 
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 60%
  height: 80px
  margin-left: 20%
  a 
    font-weight: bold
    color: #00196b
    font-size: 35px
    text-decoration: none

    &.router-link-exact-active 
      color: #00196b
      font-size: 37px
      text-decoration: none
      transition: 0.5s
    
.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0  
.pageChanger
  font-size: 35px
  border: none
  width: 70px
  height: 70px
  border-radius: 50%
  background-color: #969696
  outline: none
</style>
