<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div id="app">
		<news v-for='news in newsArr' :news-show="news"></news>
	</div>
	<script type="text/javascript" src="components/MyNews.js"></script>
	<script type="text/javascript" src="main.js"></script>
	
</body>
</html>
