article {
  float:left;
  width:400px;
  border: 2px solid #7ebbff;
  border-radius:10px;
  background-color:#e0d6b8;
  height:400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
article img {
  width:100%;
  height:260px;
  border-radius:9px;
  border-bottom:2px solid #7ebbff;
}
article span {
  width:100%;
  margin-left: 5px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
article a {
	 border-radius:10px;
  color: black;
  float:right;
  text-decoration: none;
  position: absolute;
  border: 2px solid grey;
  background: #44fc75;
  width: 70px;
  height: 20px;
  text-align: center;

}
