body {
	width:100%;
	height: 100%;
}
._header {
	width: 60%;
	height: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left:20%;
	font-weight: bold;
}
._MyBtn {
	font-size:15px;
	font-family: 'Titillium Web', sans-serif;
	border: 1px solid #ffd86b;
	background-color: #ffbc00;
	outline: none;
}
._fBtn {
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
	border: 1px solid #ffd86b;
	background-color: #ffbc00;
	outline: none;
	height:35px;
}
._MyTitle {
	display: flex;
	justify-content: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 40px; 
}
._Load {
	display: flex;
	justify-content: flex-start;
	font-family: 'Orbitron', sans-serif;
	font-size: 40px; 
}
._download {
	width: 15%;

}
._filtring {
	width: 30%;
	justify-content: space-between;
	display: flex;
}
._searching {
	width: 15%;
}
._titles {
	font-size: 18px;
	font-family: 'Orbitron', sans-serif;
	width:26%;
}
._idFilter {
	font-size: 18px;
	font-family: 'Orbitron', sans-serif;
	width:26%;
}
._filterTitles {
	display: flex;
	justify-content: flex-end;
}
._ErrorCat {
	background:url(images/sad.jpg);
}
._AnimeBlock {
	width: 100%;
	height: 100%;
	margin-right: -15px;
}
._Anime {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
article {
  float:left;
  width:250px;
  border: 2px solid #7ebbff;
  border-radius:10px;
  background-color:#e0d6b8;
  height:400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
article img {
  width:100%;
  height:260px;
  border-radius:9px;
  border-bottom:2px solid #7ebbff;
}
article span {
  width:100%;
  margin-left: 5px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
article a {
	 border-radius:10px;
  color: black;
  float:right;
  text-decoration: none;
  position: absolute;
  border: 2px solid grey;
  background: #44fc75;
  width: 70px;
  height: 20px;
  text-align: center;

}
._noCoin {
	border: 2px solid #ffcc00;
	background: #ffe88a;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	width: 200px;
	height:75px;
}
